---
import BaseHead from '../components/BaseHead.astro';
import HeaderBlog from '../components/HeaderBlog.astro';
import Footer from '../components/Footer.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Brazy | Blog"
      description="My thoughts about tech and everything else."
    />
  </head>
  <body class="min-h-screen flex flex-col max-w-[1164px] mx-auto">
    <HeaderBlog />
    <main>
      <section class="max-w-[900px] mx-auto px-2 mb-20">
        <ul class="grid gap-20">
          {
            posts.map((post) => (
              <li>
                <a href={post.url}>
                  <img
                    class="rounded pb-4"
                    width="884"
                    height="370"
                    src={post.frontmatter.heroImage}
                    alt={post.frontmatter.title}
                  />
                  <span class="w-max text-4xl font-bold hover:text-[#59C3FF] ease-out duration-300">
                    {post.frontmatter.title}
                  </span>
                </a>
                <p class="text-neutral-400">
                  <time>{post.frontmatter.pubDate}</time>
                  {post.frontmatter.updatedDate && (
                    <span>
                      (Updated:
                      <time>{post.frontmatter.updatedDate}</time>)
                    </span>
                  )}
                </p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
