---
import '../styles/blogpost.css'
import BaseHead from '../components/BaseHead.astro';
import HeaderBlog from '../components/HeaderBlog.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen flex flex-col max-w-[1164px] mx-auto">
    <HeaderBlog />
    <main>
      <article class="max-w-[900px] mx-auto px-2 mb-20">
        {
          heroImage && (
            <img
              class="rounded pb-4"
              width="884"
              height="370"
              src={heroImage}
              alt={title}
            />
          )
        }
        <h1 class="text-4xl font-bold">{title}</h1>
        <p class="text-neutral-400">
          {pubDate && <time>{pubDate}</time>}
          {
            updatedDate && (
              <span>
                (Updated: <time>{updatedDate}</time>)
              </span>
            )
          }
        </p>
        <div class="w-1/2 h-1 bg-[#59C3FF] rounded-full my-4"></div>
        <article class="post">
          <slot />
        </article>
      </article>
    </main>
    <Footer />
  </body>
</html>
