---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import readingTime from "../js/readingTime";
import { Icon } from "astro-icon";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    svg?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, svg },
} = Astro.props;
const timeToRead = readingTime(Astro.props.compiledContent());
---

<html lang="en">
  <head>
    <BaseHead
      title={`${title} | BRAZY'S BLOG`}
      description={description}
      image={heroImage}
    />
  </head>
  <body class="mx-auto flex min-h-screen max-w-[700px] flex-col px-2">
    <Header />
    <main>
      <article class="mt-10 mb-10">
        <h1 class="text-center text-3xl font-bold text-gray-200">
          {title}
        </h1>
        <div
          class="mt-3 flex flex-wrap justify-center gap-x-1 text-center text-gray-400"
        >
          {pubDate && <time>{pubDate}</time>}
          {
            updatedDate && (
              <span>
                (Updated: <time>{updatedDate}</time>)
              </span>
            )
          }
          {
            timeToRead && (
              <span class="flex gap-x-1">
                <Icon
                  class="self-center"
                  width="23px"
                  height="23px"
                  name="maki:watch"
                />
                {timeToRead}
              </span>
            )
          }
        </div>
        <p class="text-center text-gray-400">by Vladislav Boichenko</p>
        {
          svg && (
            <Icon
              name={svg}
              class="w-max-[684px] h-max-[342px] mt-10"
              alt="Illustration by Vladislav Boichenko"
            />
          )
        }
        <article class="post">
          <slot />
        </article>
        <div class="mt-10 w-max text-gray-200">
          <a
            href="/blog/"
            rel="prefetch"
            class="flex items-center gap-x-1 text-lg underline hover:text-[#a786ff]"
          >
            <Icon width="28px" height="28px" name="maki:arrow" />
            <div>Back to BRAZY'S BLOG</div>
          </a>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
