---
import '../styles/blog.css'
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen flex flex-col max-w-[700px] mx-auto px-2">
    <Header />
    <main>
      <article class="mb-20">
        {
          heroImage && (
            <img
              class="rounded"
              width="884"
              height="370"
              src={heroImage}
              alt={title}
            />
          )
        }
        <h1 class="text-3xl font-bold mt-4">{title}</h1>
        <p class="text-neutral-400">
          {pubDate && <time>{pubDate}</time>}
          {
            updatedDate && (
              <span>
                (Updated: <time>{updatedDate}</time>)
              </span>
            )
          }
        </p>
        <div class="h-[4px] w-1/4 bg-[#59C3FF] rounded-full mt-7"></div>
        <article class="post">
          <slot />
        </article>
      </article>
    </main>
    <Footer />
  </body>
</html>
