---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'

const { title, description, pubDate, updatedDate, heroImage, svg } = Astro.props
---

<html lang="en">
  <head>
    <Head title={title} description={description} image={heroImage} />
  </head>
  <body class="mx-auto max-w-2xl px-4">
    <Header />
    <main class="mt-8">
      <article>
        <h1 class="text-2xl font-semibold" transition:name={`${title}2`}>
          {title}
        </h1>
        <div
          class="mt-4 text-lg text-inaccessible"
          transition:name={`${title}3`}
        >
          <time datetime="">{pubDate}</time> (Updated: <time datetime=""
            >{updatedDate}</time
          >)
        </div>
        <img
          class="mt-8 rounded-lg"
          width={640}
          height={336}
          src={svg}
          alt="Illustration"
          transition:name={`${title}1`}
        />
        <div class="post" transition:animate="slide">
          <slot />
        </div>
      </article>
    </main>
    <hr class="mt-8 rounded-full border-t-2 border-inaccessible" />
    <footer class="my-8 grid justify-items-center text-xl">
      <a
        class="text-inaccessible transition-colors ease-cubic hover:text-white"
        href="/blog">back to blog</a
      >
    </footer>
  </body>
</html>
